#############################
# Python
#############################

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

#############################
# Entornos virtuales
#############################

venv/
env/
ENV/
.venv/

ent/
backend/ent/

#############################
# Variables de entorno
#############################

.env
.env.*
!.env.example

#############################
# Logs
#############################

logs/
*.log

#############################
# Caché de Python
#############################

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

#############################
# Base de datos locales
#############################

*.sqlite3
*.db

#############################
# VS Code / PyCharm
#############################

.vscode/
.idea/

#############################
# macOS / Linux / Windows
#############################

.DS_Store
Thumbs.db

#############################
# Node.js
#############################

node_modules/
frontend/node_modules/

#############################
# Next.js
#############################

.next/
frontend/.next/
out/

#############################
# Build
#############################

dist/
build/

#############################
# Archivos temporales
#############################

*.swp
*.swo
*.tmp
*.bak

#############################
# TypeScript
#############################

*.tsbuildinfo

#############################
# pnpm / npm logs
#############################

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#############################
# Archivos compilados
#############################

*.pyc

#############################
# Jupyter
#############################

.ipynb_checkpoints/

# Archivos descargados de Windows
*.Zone.Identifier